/* ==UserStyle==
@name           Discord Fluent
@namespace      github.com/Siris01/discord-fluent
@version        2.0.1
@description    Replace default discord emojis with MS Fluent emojis
@preprocessor   stylus
@author         Siris
@var select variant "Variant" {"animated": "'animated'", "3d": "'3d'", "color": "'color'", "flat": "'flat'", "high-contrast": "'high-contrast'"}
==/UserStyle== */

@-moz-document regexp("https?://(canary\\.|ptb\\.|)discord.com/.*") {
    @import url("https://discord-fluent.siris.me/css/fluent-" + variant + ".css")
}